*{
    padding: 0;
    margin: 0;
}

.wrapper{
    position: relative;
}

.image_cloud{
    z-index: 2;
    position: absolute;
    width: 20%;
    left: 38%;
    transform: translate(-50%, 75%);
}

.block_start, 
.block_restart, 
.block_preface, 
.block_key, 
.block_intro, 
.block_content_gift_B{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.block_start{
    margin: 25% auto;
    z-index: 1;
    visibility: visible;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
}

.block_start > #audio{
    background: linear-gradient(skyblue, tomato);
    height: 55px;
}

.block_restart{
    margin: 25% auto;
    z-index: 1;
    cursor: pointer;
    visibility: hidden;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(skyblue, tomato);
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.block_preface{
    margin: 25% auto;
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #12A2FF;
}

.block_preface > img{
    height: 150px;
    position: absolute;
    width: 95%;
    border-radius: 55px;
    z-index: -1;
}

.block_key{
    margin: 25% auto;
    visibility: hidden;
    z-index: 3;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_key{
    background: white;
    border-radius: 20px;
    padding: 30px;
}

.block_intro{
    margin: 25% auto;
    visibility: hidden;
    position: absolute;
    z-index: 4;
    left: 50%;
    transform: translate(-50%, -50%);
}

.block_content_gift_B{
    visibility: hidden;
    margin: 25% auto;
    position: absolute;
    z-index: 5;
    left: 50%;
    transform: translate(-50%, 50%);
}

.bg_word_b{
    margin: 25% auto;
    position: absolute;
    z-index: 4;
    left: 50%;
    transform: translate(-50%, 0%);
}

.bg_word_b > img{
    border-radius: 25px;
}

.main_content{
    border-radius: 20px;
    padding: 30px;
    width: 650px;
    visibility: hidden;
    position: absolute;
    z-index: 5;
    left: 50%;
    transform: translate(-50%, -10%);
}

.block_word{
    display: flex;
    justify-content: center;
    width: 90%;
    cursor: pointer;
    color: #00DB7C;
    text-shadow: 0 0 25px #00E2F5;
}

/* an define */
.hide_word_B{
    cursor: pointer;
    font-size: 80px;
}

.hide_minus_word_B{
    display: none;
}

.hide_define_B{
    display: none;
}

/* hien define */
.show_word_B{
    font-size: 80px;
    transition: 0.5s;
}

.show_minus_word_B{
    font-size: 80px;
    padding: 0 20px;
    display: block;
    transition: 0.5s;
}

.show_define_B{
    text-align: left;
    font-size: 40px;
    display: block;
    transition: 0.5s;
}

/* an letter */
.hide_letter_content_B{
    display: none;
}

/* hien letter */
.show_letter_content_B{
    display: block;
    font-style: italic;
    font-size: 20px;
    margin-top: -20px;
}

.title_key, 
.title_content{
    font-size: 25px;
    font-weight: 600;
    color: black;
    margin-bottom: 25px;
    display: flex;
}

.block_preface > .come_next_key, 
.title_key > .come_back_restart, 
.block_intro > .come_next_content_B, 
.title_content > .come_back_key, 
.title_content > .come_next_word_F{
    width: 10%;
    height: 40px;
    cursor: pointer;
    color: tomato;
}

.block_preface > .come_next_key:hover, 
.title_key > .come_back_restart:hover,
.block_intro > .come_next_content_B:hover,  
.title_content > .come_back_key:hover, 
.title_content > .come_next_word_F:hover{
    font-size: 30px;
    transition: 0.3s;
}

.title_key > .heading_key{
    width: 90%;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.title_key > .heading_key #hint_key{
    color: #0AD15A;
    cursor: pointer;
}

.title_key > #img_hint{
    visibility: hidden;
    position: absolute;
    width: 90%;
    left: 74%;
    top: -70%;
}
.content_key{
    font-size: 20px;
    margin-bottom: 25px;
    color: black;
}

.number{
    width: 40px;
    height: 40px;
    font-size: 35px;
    text-align: center;
    /* border: 5px solid black; */
}

.number:focus{
    border: 5px solid pink;
}

.btn_go{
    width: 50px;
    height: 50px;
    margin-top: 35px;
    color: white;
    background: linear-gradient(-45deg, black, pink);
    border: none;
    border-radius: 20px;
}

#image_background {
    position: absolute;
    bottom: 0px;    
    width: 100%;    
    height: 100%;    
    z-index: -1000;    
}